mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}


.container {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: center;
  margin-bottom: 100px;
}

.container > * {
  width: 420px;
}

.mat-loginButton {
  background-color: #17a096;
  color: white;
}