<div class="account-container">
    <div class="user-info" *ngIf="user">
      <!-- <div>
        <img>
      </div> -->
      <h3>First name</h3>
      <p>{{ user.firstName }}</p>
      <h3>Middle name</h3>
      <p>{{ user.middleName }}</p>
      <h3>Last name</h3>
      <p>{{ user.lastName }}</p>
      <h3>Date of birth</h3>
      <p>{{ user.dateOfBirth | date: "dd.MM.yyyy" }}</p>
      <h3>Insurance number</h3>
      <p>{{ user.insuranceNumber }}</p>
      <h3>Phone number</h3>
      <p>{{ user.phoneNumber }}</p>
    </div>
    <div class="request-details">
      <h3>Start</h3>
      <p *ngIf="hasProp(userRequest,'startDate')">{{userRequest.startDate}}</p>
      <h3>End</h3>
      <p *ngIf="hasProp(userRequest,'endDate')">{{userRequest.endDate}}</p>
      <h3>Current treatment state</h3>
      <p *ngIf="hasProp(userRequest,'treatmentState')">{{userRequest.treatmentState}}</p>
      <h3>Doctor's recommendations</h3>
      <p *ngIf="hasProp(userRequest,'doctorRecommendations')">{{userRequest.doctorRecommendations}}</p>
      <span *ngIf="hasProp(userRequest,'symptoms')">
        <h3>Symptoms</h3>
        <p *ngFor='let symptom of userRequest.symptoms'>
          {{symptom.name}}
        </p>
        </span>
      <button mat-raised-button *ngIf="isDoctor && !userRequest.endDate" class="profile-button"
              (click)="giveRecommendations()">
        Give recommendations
      </button>
      <button mat-raised-button *ngIf="isDoctor && !userRequest.endDate" class="profile-button"
              (click)="endTreatment()">
        End treatment
      </button>
    </div>
  </div>
