<h1>Admin panel</h1>
<section>
    <div class="example-button-row">
      <button mat-flat-button color="loginButton" [routerLink]="['/user/:id/tasks']" *ngIf="this.isPatient">User task
      </button>
      <button mat-flat-button color="loginButton" [routerLink]="['/user/:id/tasks/active']" *ngIf="this.isPatient">User
        active task
      </button>
      <button mat-flat-button color="loginButton" [routerLink]="['/request/create']" *ngIf="this.isPatient">Create
        request
      </button>
      <button mat-flat-button color="loginButton" [routerLink]="['/task/:task_id']">Task id</button>
      <button mat-flat-button color="loginButton" [routerLink]="['/task_instances']" *ngIf="this.isDoctor">Task
        Instances
      </button>
      <button mat-flat-button color="loginButton" [routerLink]="['/task_instances/active']" *ngIf="this.isDoctor">Task
        Instances Active
      </button>
    </div>
  </section>
