<header>
  <div class="introduction-block">
    <div class="logo">
      <img src="assets/img/company_name.png">
    </div>
    <div class="address">
      <h2>USA</h2>
      <span>1360 E Anaheim St, Long Beach, CA 90813</span>
    </div>
    <div class="phone">
      <h2>+11005553535</h2>
      <span>Working on weekdays - from 8AM until 7PM</span>
    </div>
  </div>
  <mat-toolbar *ngIf = "isLoggedIn$ | async as isLoggedIn; else elseBlock">
    <mat-toolbar-row>
      <button mat-button routerLink="/home">Main Page</button>     
      <button mat-button (click)="getAccountInfo()" routerLink="/account">Account</button>
    <button mat-button (click)="onLogout()" >Logout</button>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="this.isPatient">
      <button  mat-button (click)="createRequest()">Create User request </button> 
      <button mat-button (click)="getActiveTasks()">Active tasks </button>        
      <button mat-button (click)="getAllTasks()">All tasks </button> 

    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="this.isDoctor">
      <button mat-button  (click)="getAllTaskInstances()">All Task Instances </button>
      <button  mat-button  (click)="getActiveTaskInstances()">Active Task Instances </button>
      <!--<button mat-button routerLink="/users">All Users</button>-->
    </mat-toolbar-row>
  </mat-toolbar>
  <ng-template #elseBlock>
    <mat-toolbar>
      <button mat-button routerLink="/home">Main Page</button>
      <button mat-button (click)="onLogout()" >Login</button>
    </mat-toolbar>
    </ng-template>
</header>