<h1 style="text-align: center;">
    Login Page
  </h1>
  <form [formGroup]="myLoginForm" (ngSubmit)="onSubmit()" >
    <div class="container">
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" >
            <mat-error *ngIf="isFieldInvalid('email')">Please inform your email</mat-error>
            <mat-hint *ngIf="myLoginForm.controls.email.errors">Email is required</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="Password"  formControlName="password">
            <mat-error *ngIf="isFieldInvalid('password')">Please enter password</mat-error>
            <mat-hint *ngIf="myLoginForm.controls.password.errors">Password is required</mat-hint>
        </mat-form-field>
        <button mat-flat-button color="loginButton" type="submit">Login</button>
        <mat-error *ngIf="errorMsg">Invalid ename and password. Please try again</mat-error>
        
        <small  [routerLink]="['/registration']" >New user? Click here</small>
    </div>
   
  </form>
  