/* You can add global styles to this file, and also import other style files */
*{
  font-family: 'PT Sans', sans-serif;
}

html{
  height: 100%;
}
body{
  margin: 0;
  height: 100%;
  /* overflow: hidden; */
}
app-root{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 100%
}

ng-component, app-user{
  height: 100%;
}

app-login{
  margin-bottom: auto;
}

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
